@import url('http://fonts.googleapis.com/css?family=Open+Sans');
html, body{
	width: 100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;
	background: #fdfffc;
	color:#fff;
}
a{
	color: inherit;
	background-color: none;
	text-decoration: none;
}
#helper{
	/*display:none;*/
	position:absolute;
	left:0;
	top:0;
	height:1000%;
	width:20px;
}

.marker{
	height:10%;
}

/*===============helper==================*/
.m1{
	background-color: #f0f3bd;
}
.m2{
	background-color: #02c39a;
}
.m3{
	background-color: #00a896;
}
.m4{
	background-color: #028090;
}
.m5{
	background-color: #05668d;
}
.m6{
	background-color: #247BA0;
}
.m7{
	background-color: #70C1B3;
}
.m8{
	background-color: #B2DBBF;
}
.m9{
	background-color: #F3FFBD;
}
.m10{
	background-color: #FF1654;
}
/*===============content==================*/
.next{
	cursor: pointer;
	display: inline-block;
	position: fixed;
	bottom: 20px;
	height: 60px;
	width: 120px;
	min-width: 100px;
	border: none;
	outline: none;
	border-radius: 3px;
	margin-left: 10px;
	background: #e71d36;
	box-shadow: 0 5px 0px #333533;
	border-bottom: 2px solid #333533;
}
.next:hover{
	background: #028090;
	box-shadow: 0 4px 1px #05668D;
	border-bottom: 2px solid #05668D;
	transition: all 0.1s ease-in-out;
}
.next:active{
	transform:translateY(4px);
	border-bottom-width: 2px;
	box-shadow: none;
}
.next h2{
	color: white;
	font-size: 40px;
	margin: 0;
	position: relative;
	text-align: center;
}
/*===============index==================*/
.cell {
	width: 10%;
	height: 10%;
	position: fixed;
	background: #f45b69;
}
.cell:hover{
	background: #456990;
}
.cell {
	cursor: pointer;
	margin: 0 auto;
	overflow: hidden;
}
.cell:hover{
	box-shadow: 10px 15px 0px #333533;
	transition: all 0.1s ease-in-out;
	transform: translate(-10px,-15px);
}
.cell:active{
	transform:translateY(6px);
	border-bottom-width: 2px;
	box-shadow: none;
}

.container{
	margin: 0;
	width: 100%;
	height: 100%;
}
#one{
	top: 0%;
	left: 0%;
}
#two{
	top: 0%;
	left: 10%;
}
#three{
	top: 0%;
	left: 20%;
}
#four{
	top: 0%;
	left: 30%;
}
#five{
	top: 0%;
	left: 40%;
}
#six{
	top: 0%;
	left: 50%;
}
#seven{
	top: 0%;
	left: 60%;
}
#eight{
	top: 0%;
	left: 70%;
}
#nine{
	top: 0%;
	left: 80%;
}
#ten{
	top: 0%;
	left: 90%;
}
#eleven{
	top: 10%;
	left: 0%;
}
#twelve{
	top: 10%;
	left: 10%;
}
#thirteen{
	top: 10%;
	left: 20%;
}
#fourteen{
	top: 10%;
	left: 30%;
}
#fifteen{
	top: 10%;
	left: 40%;
}
#sixteen{
	top: 10%;
	left: 50%;
}
#seventeen{
	top: 10%;
	left: 60%;
}
#eighteen{
	top: 10%;
	left: 70%;
}
#nineteen{
	top: 10%;
	left: 80%;
}
#twenty{
	top: 10%;
	left: 90%;
}
#twentyOne{
	top: 20%;
	left: 0%;
}
#twentyTwo{
	top: 20%;
	left: 10%;
}
#twentyThree{
	top: 20%;
	left: 20%;
}
#twentyFour{
	top: 20%;
	left: 30%;
}
#twentyFive{
	top: 20%;
	left: 40%;
}
#twentySix{
	top: 20%;
	left: 50%;
}
#twentySeven{
	top: 20%;
	left: 60%;
}
#twentyEight{
	top: 20%;
	left: 70%;
}
#twentyNine{
	top: 20%;
	left: 80%;
}
#thirty{
	top: 20%;
	left: 90%;
}
#thirtyOne{
	top: 30%;
	left: 0%;
}
#thirtyTwo{
	top: 30%;
	left: 10%;
}
#thirtyThree{
	top: 30%;
	left: 20%;
}
#thirtyFour{
	top: 30%;
	left: 30%;
}
#thirtyFive{
	top: 30%;
	left: 40%;
}
#thirtySix{
	top: 30%;
	left: 50%;
}
#thirtySeven{
	top: 30%;
	left: 60%;
}
#thirtyEight{
	top: 30%;
	left: 70%;
}
#thirtyNine{
	top: 30%;
	left: 80%;
}
#forty{
	top: 30%;
	left: 90%;
}
#fortyOne{
	top: 40%;
	left: 0%;
}
#fortyTwo{
	top: 40%;
	left: 10%;
}
#fortyThree{
	top: 40%;
	left: 20%;
}
#fortyFour{
	top: 40%;
	left: 30%;
}
#fortyFive{
	top: 40%;
	left: 40%;
}
#fortySix{
	top: 40%;
	left: 50%;
}
#fortySeven{
	top: 40%;
	left: 60%;
}
#fortyEight{
	top: 40%;
	left: 70%;
}
#fortyNine{
	top: 40%;
	left: 80%;
}
#fifty{
	top: 40%;
	left: 90%;
}
#fiftyOne{
	top: 50%;
	left: 0%;
}
#fiftyTwo{
	top: 50%;
	left: 10%;
}
#fiftyThree{
	top: 50%;
	left: 20%;
}
#fiftyFour{
	top: 50%;
	left: 30%;
}
#fiftyFive{
	top: 50%;
	left: 40%;
}
#fiftySix{
	top: 50%;
	left: 50%;
}
#fiftySeven{
	top: 50%;
	left: 60%;
}
#fiftyEight{
	top: 50%;
	left: 70%;
}
#fiftyNine{
	top: 50%;
	left: 80%;
}
#sixty{
	top: 50%;
	left: 90%;
}
#sixtyOne{
	top: 60%;
	left: 0%;
}
#sixtyTwo{
	top: 60%;
	left: 10%;
}
#sixtyThree{
	top: 60%;
	left: 20%;
}
#sixtyFour{
	top: 60%;
	left: 30%;
}
#sixtyFive{
	top: 60%;
	left: 40%;
}
#sixtySix{
	top: 60%;
	left: 50%;
}
#sixtySeven{
	top: 60%;
	left: 60%;
}
#sixtyEight{
	top: 60%;
	left: 70%;
}
#sixtyNine{
	top: 60%;
	left: 80%;
}
#seventy{
	top: 60%;
	left: 90%;
}
#seventyOne{
	top: 70%;
	left: 0%;
}
#seventyTwo{
	top: 70%;
	left: 10%;
}
#seventyThree{
	top: 70%;
	left: 20%;
}
#seventyFour{
	top: 70%;
	left: 30%;
}
#seventyFive{
	top: 70%;
	left: 40%;
}
#seventySix{
	top: 70%;
	left: 50%;
}
#seventySeven{
	top: 70%;
	left: 60%;
}
#seventyEight{
	top: 70%;
	left: 70%;
}
#seventyNine{
	top: 70%;
	left: 80%;
}
#eighty{
	top: 70%;
	left: 90%;
}
#eightyOne{
	top: 80%;
	left: 0%;
}
#eightyTwo{
	top: 80%;
	left: 10%;
}
#eightyThree{
	top: 80%;
	left: 20%;
}
#eightyFour{
	top: 80%;
	left: 30%;
}
#eightyFive{
	top: 80%;
	left: 40%;
}
#eightySix{
	top: 80%;
	left: 50%;
}
#eightySeven{
	top: 80%;
	left: 60%;
}
#eightyEight{
	top: 80%;
	left: 70%;
}
#eightyNine{
	top: 80%;
	left: 80%;
}
#ninety{
	top: 80%;
	left: 90%;
}
#ninetyOne{
	top: 90%;
	left: 0%;
}
#ninetyTwo{
	top: 90%;
	left: 10%;
}
#ninetyThree{
	top: 90%;
	left: 20%;
}
#ninetyFour{
	top: 90%;
	left: 30%;
}
#ninetyFive{
	top: 90%;
	left: 40%;
}
#ninetySix{
	top: 90%;
	left: 50%;
}
#ninetySeven{
	top: 90%;
	left: 60%;
}
#ninetyEight{
	top: 90%;
	left: 70%;
}
#ninetyNine{
	top: 90%;
	left: 80%;
}
#oneHundred{
	top: 90%;
	left: 90%;
}
/*===============s1==================*/
.s1{
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
	width: 200px;
	height: 200px;
	border-radius: 100%;
	position: fixed;
}
.mountain1{
	position: absolute;
	top: 954%;
	left: 200px; 
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 310px 399px 310px;
	border-color: transparent transparent #2ec4b5 transparent;
}
.mountain2{
	position: absolute;
	top: 931%;
	left: 675px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 300px 600px 300px;
	border-color: transparent transparent #2ec4b5 transparent;
}
/*===============s2==================*/
/*
#s2{
	position: fixed;
	z-index: 10;
}
*/
.star1{
	top: 900%;
	position: absolute;
	width: 100%;
	height: 830px;
}
.star1 img{
	width: 100%;
	height: 100%;
}
/*===============s3==================*/
.s3{
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	position: fixed;

}
.s3 img{
	width: auto;
	height: 100%;
}

.paragraph{
	text-align: center;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	position: inherit;
	width: 60%;
	height: 60%;
	background: #F5CB5C;
	background-image: url(image/yaoming.jpg);
}
.paragraph h2 {
	color: #ff9f1c;
}

/*===============s11==================*/
.s11 {
	width: 30%;
	height: 30%;
	background-color: #e71d36;
	position: fixed;
	-webkit-animation-name: example; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
	-webkit-animation-iteration-count: 3; /* Chrome, Safari, Opera */
	-webkit-animation-direction: reverse; /* Chrome, Safari, Opera */
	animation-name: example;
	animation-duration: 4s;
	animation-iteration-count: 3;
	animation-direction: reverse;
}
/*===============s12==================*/
.s12{

	position: fixed;

	cursor: pointer;
	display: block;
	height: 100px;
	width: 180px;
	min-width: 100px;

	border: none;
	outline: none;
	border-radius: 3px;
	margin-left: 10px;

	background: #F5CB5C;
	box-shadow: 0 5px 0px #333533;
	border-bottom: 2px solid #333533;
}
.s12:hover{
	background: #028090;
	box-shadow: 0 4px 1px #05668D;
	border-bottom: 2px solid #05668D;
	transition: all 0.1s ease-in-out;
}
.s12:active{
	transform:translateY(4px);
	border-bottom-width: 2px;
	box-shadow: none;
}
.s12 h2{
	color: white;
	font-size: 40px;
	margin: 0;
	position: relative;
	text-align: center;
}
/*===============s13==================*/
.s13{
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
	width: 800px;
	height: 800px;
	border-radius: 100%;
	position: fixed;
	background: red;
}
/*===============s22==================*/
.s22{
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
	width: 80px;
	height: 80px;
	border-radius: 100%;
	position: fixed;
	background: red;
}
.s221{
	top: 20px;
}
/*===============s59==================*/
.s59{
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	position: fixed;
}
.s59 img{
	width: auto;
	height: 80%;
}
/*===============s59==================*/
.s70{
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	position: fixed;

}
.s70 img{
	width: auto;
	height: 100%;
}
.text{
	text-align: justify;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	position: inherit;
	width: 100%;
	height: 100%;
	background-image: url(image/yaomingface.jpg);
}
.text h2 {
	color: #333533;
}
/*===============s90==================*/
.s90{
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	position: fixed;
}
.s90 img{
	width: auto;
	height: 100%;
}
.finalten{
	text-align: justify;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	position: inherit;
	width: 100%;
	height: 100%;
}
.finalten p {
	color: #333533;
	font-size: 23px;
	font: 'Open Sans';
	font-weight: 600;
}
/*===============s92==================*/
.coverBackground{
	width: 100%;
	height: 100%;
	background-color: #242423;
	z-index: 11;
	position:fixed;
	top: 0%;

}
.coverFace h2{
	color: #E8EDDF;
	margin:0;
}
.coverFace span{
	color: white;
	margin: 0;
}
.coverFace{
	top:0px;
	bottom:0;
	left:0;
	right: 0;
	margin: auto;
	overflow: hidden;
	position: inherit;

	width: 160px;
	height: 100px;
	border-radius: 90px;
	padding-bottom: 55px;
	background-color: #FF5733;

	font-family:'Open Sans', sans-serif;
	font-size:19px;
	text-align: center;
}
/*===============s95==================*/
.s95{
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
	width: 70%;
	height: 70%;
	border-radius: 100%;
	position: fixed;
	display: block;
	background: #2ec4b6;
}
/*===============s100==================*/
.s100{
	left: 0;
	top: 0;
	right: 0;
	bottom: 500px;
	margin: auto;
	text-align: center;
	width: 70%;
	height: 70%;
	border-radius: 100%;
	position: fixed;
	display: block;
	background: #2ec4b6;
}